{block content}
<div class="container panel panel-default">
<h1><a n:href=":Admin:Default:default"><i class="fa fa-arrow-left"></i></a> / {_messages.management.identity}</h1>

    {control usersGrid}
</div>