<!DOCTYPE html>
<html class="x-border-box">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>MICKA - {_messages.frontend.app_title}</title>
	<link rel="shortcut icon" href="{$basePath}{$themePath}/img/favicon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<link title="{_messages.frontend.app_title}" href="csw/opensearch.php" type="application/opensearchdescription+xml" rel="search">

	<script language="javascript" src="{$basePath}/thesaurus/HS.js"></script>
	<script language="javascript" src="{$basePath}/scripts/locale/labels-{$appLang}.js"></script>

	<link rel="stylesheet" href="{$basePath}/scripts/bootstrap/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="{$basePath}/scripts/bootstrap/css/bootstrap-theme.min.css" type="text/css"/>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="{$basePath}/scripts/ol5/ol.css" type="text/css"/>
    <link rel="stylesheet" href="{$basePath}/scripts/select2/css/select2.min.css" type="text/css"/>
    <link rel="stylesheet" href="{$basePath}/scripts/select2/css/select2-bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{$basePath}{$themePath}/micka.css" type="text/css"/>   
	<link rel="stylesheet" media="print" href="{$basePath}{$themePath}/micka_print.css">
</head>
<body id="micka-body">
    <div class="page-container">
    
        <nav class="navbar navbar-inverse xnavbar-fixed-top" role="navigation">
           <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#micka-navbar">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                   </button>
                    <a class="navbar-brand" n:href=":Catalog:Default:default" data-tooltip="tooltip" data-container="body" data-placement="bottom" title="Micka">Micka</a>
                </div>

                <div class="collapse navbar-collapse" id="micka-navbar">
                    <ul class="nav navbar-nav">
						{if $user->isInRole('editor')}
							 <li>
								<a n:href=":Catalog:Record:new" data-tooltip="tooltip" title="{_messages.frontend.new_record}" data-container="body" data-placement="bottom">
									<i class="fa fa-plus fa-lg"></i> {_messages.frontend.new}</a>
							</li>
						{/if}
						{if $user->isInRole('admin')}
							<li>
								<a n:href=":Admin:Default:default" data-tooltip="tooltip" title="{_messages.frontend.admin}" data-container="body" data-placement="bottom">
									<i class="fa fa-cog fa-lg"></i> {_messages.frontend.admin}</a>
							</li>
						{/if}
                        <li>
                            <a n:href=":Catalog:Micka:help" data-tooltip="tooltip" title="{_messages.frontend.help}" data-container="body" data-placement="bottom">
                                <i class="fa fa-question fa-lg"></i> {_messages.frontend.help}</a>
                        </li>            
                         <li>
                            <a n:href=":Catalog:Micka:about" data-tooltip="tooltip" title="{_messages.frontend.about}" data-container="body" data-placement="bottom">
                                <i class="fa fa-info-circle fa-lg"></i> {_messages.frontend.about}</a>
                        </li>            
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
						<li>
							<a n:href=":Catalog:Csw:default 'service'=>'CSW','request'=>'GetRecords','query'=>'','format'=>'application/xml','outputSchema'=>'http://www.w3.org/2005/Atom','sortby'=>'date:D','language'=>$appLang" target="_blank" data-tooltip="tooltip" title="{_messages.frontend.changes}" data-container="body" data-placement="bottom"><i class="fa fa-rss fa-lg"></i></a>
						</li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-tooltip="tooltip" data-container="body" title="{_messages.frontend.language}" data-placement="bottom" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                              <img src="{$basePath}{$themePath}/img/flags/{$appLang}.png"/> <span class="caret"></span>
                              <ul class="dropdown-menu">
                                {var $appLangs = explode(',',$parameters['app']['langs'])}
                                {foreach $appLangs as $lang3}
                                    {var $lang2 = array_search($lang3, $langCodes)}
                                    <li{if $lang3==$appLang} class="disabled"{/if}><a n:href="changeLocale!, $lang2">{_messages.lang.$lang3}</a></li>
                                {/foreach} 
                              </ul>
							</a>  
                        </li>
                        <li>
							{if $user->isLoggedIn()}
								<a n:href=":Catalog:Sign:out" data-tooltip="tooltip" title="{_messages.frontend.logout}" data-placement="bottom" data-toggle="modal">
								 {$user->identity->username} <i class="fa fa-sign-out fa-lg"></i></a>
							{else}
								<a n:href=":Catalog:Sign:in" data-tooltip="tooltip" title="{_messages.frontend.login}" data-placement="bottom" data-toggle="modal">
								<i class="fa fa-user fa-lg"></i> {_messages.frontend.login}</a>
							{/if}
                        </li>
                    </ul>
                </div>    
            </div>        
        </nav>

        {* FLASH *}
        {foreach $flashes as $flash}
            <div class="container alert alert-{$flash->type} alert-dismissible" role="alert">
                {$flash->message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        {/foreach}
		
        {include content}

		<script src="{$basePath}/scripts/jquery/jquery-1.11.1.min.js"></script>
		<script src="{$basePath}/scripts/jquery/jquery.cookie.min.js"></script>
		<script src="{$basePath}/scripts/ol5/ol.js"></script>
		<script src="{$basePath}/scripts/select2/js/select2.full.js"></script>
		<script src="{$basePath}/scripts/select2/js/i18n/{$appLang2}.js"></script>
		<script src="{$basePath}/scripts/bootstrap/js/bootstrap.min.js" ></script>    
        <script src="{$basePath}/scripts/OverMap.js"></script>
		<script src="{$basePath}/scripts/SearchForm.js"></script>
		<script src="{$basePath}/scripts/micka.js"></script>
        
		{include content-js}
		
		<footer class="footer text-center">
		  <a href="#micka-body" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		  </a>
		  <p>{$parameters['contact']['title'][$appLang]} <a href="{$parameters['contact']['www']}" target="_blank">{$parameters['contact']['org'][$appLang]}</a></p>
		</footer>
		
	</div><!-- page container -->
</body>
</html>