php/app/bootstrap.php
php/app/config/config.local.neon
php/app/config/config.neon
php/app/config/codelists.xml
php/app/config/index.include.php
php/app/lang/*
php/app/lang/!messages.*
php/www/registry_client/cache/*
php/log/*
php/temp/*
php/vendor/*
php/composer.lock
php/app/modules/*
php/app/modules/!Admin/*
php/app/modules/!Base/*
php/app/modules/!Catalog/*
php/app/modules/Catalog/templates/*
php/app/modules/Catalog/templates/!default
php/app/modules/!Error/*
php/app/modules/!Validator/*
php/app/model/xsl/profiles/*
php/app/model/xsl/profiles/!default
php/app/model/lite/profiles/*
php/app/model/lite/profiles/!default
php/app/security/*
php/app/security/!AuthorizatorFactory.php
php/app/security/!MickaAuthenticator.php
layout/*
layout/!default
