frontend:
    app_title: "openMicka"
    del: "Delete"
    thes: "Another thesaurus is defined in this section, please, make new section for selected thesaurus."
    login2: "Login"
    logged: "Logged user"
    edit: "Edit"
    save2: "Save"
    reset: "Reset"
    create: "Create"
    section: "Section"
    access_violation: "Access violation. Probably the session has expired. Please, try re-login."
    upload_image: "Upload image"
    back: "Back"
    insert_selected: "Insert selected"
    error: "Error"
    error2: "SORRY ERROR"
    help: "Help"
    openmicka: "openMICKA - openMetainformation catalogue"
    read: "read"
    edit2: "Edit"
    group: "group"
    other: "other"
    record_admin: "Record administration"
    view_detail: "View detail"
    about: "About"
    version: "Your version"
    changes: "Changes, news"
    bugs: "Known bugs"
    support: "System support"
    edited: "The record is edited by another user."
    recno: "recno"
    words: "Words"
    bouding_box: "Bounding box"
    from_map: "From map"
    west: "west"
    south: "south"
    east: "east"
    north: "north"
    topic_category: "Topic category"
    search: "Search"
    search2: "Search"
    search3: "Search metadata records"
    found: "Found"
    standard: "Standard"
    temporal_extent: "Temporal extent"
    from: "from"
    to: "to"
    no_found: "No found"
    profile: "Profile"
    new_record: "New record"
    new_record2: "New record / update record"
    public: "Public"
    public2: "Public"
    select_template: "Select template"
    fit_extent: "Datasets fit the extent"
    name: "Name"
    passwd: "Password"
    input_coordinates: "Input coordinates"
    select_features: "Select features "
    in_keywords: "In keywords"
    language: "Language"
    phrase: "Exact phrase"
    any_word: "Any word"
    all_words: "All words"
    contacts: "Contacts"
    person: "Person"
    organisation: "Organisation"
    function: "Function"
    phone: "Phone"
    fax: "Fax"
    point: "Point"
    city: "City"
    admin_area: "Administrative area"
    postcode: "Postcode"
    country: "Country"
    email: "E-mail"
    url: "URL"
    label: "Label"
    edit_records: "Edit records"
    edit_group: "Group for editing"
    not_filled_values: "including not filled values"
    metadata_structure: "Metadata structure"
    view_group: "Group for viewing"
    file_from_import: "Select file for import"
    record: "Record"
    private: "Private"
    semifinished: "Semifinished"
    saved: "saved"
    confirm_save: "confirm save"
    service_url: "service URL"
    bad_setting: "bad setting"
    select_fc: "Select Feature Catalogue"
    superset: "Superset"
    subset: "Subsets"
    delete_record: "Delete record"
    access_rights: "Access rights"
    existing_record: "Existing record"
    overwrite: "Overwrite"
    leave_existing: "Leave existing"
    record_for_update: "Select record for update"
    primary: "Primary"
    remove_subelements: "All subelements will be removed from profile, CONTINUE"
    change_standard: "Change standard"
    batch_check_inspire_profile: "Batch checking INSPIRE profile"
    delete: "Delete"
    leave: "Leave"
    really: "Really?"
    another_thesaurus: "Another thesaurus is defined in this section, please, make new section for selected thesaurus."
    validate: "Validate"
    lost: "All unsaved edits will be lost. Continue"
    portal: "Portal"
    home: "Home"
    cookbook: "Cookbook"
    contact: "Contact"
    copy: "Clone"
    select: "select"

    admin: "Admin"
    application: "Application"
    ascending: "ascending"
    basic_metadata: "Summary"
    clear: "Clear"
    close: "Close"
    data: "Data"
    descending: "descending"
    extent-similarity: "extent similarity"
    fc: "Feature catalogue"
    full_metadata: "Detailed"
    fulltext: "any text"
    inside: "Inside rectangle"
    inspire-theme: "INSPIRE theme"
    last_update: "last update"
    login: "Login"
    logout: "Logout"
    new: "New"
    service: "Service"
    res-type: "Resource type"
    scale: "Scale"
    sort: "Sort by"
    title: "title"
    save: "Save"
    save_edit: "Save and continue editing"
    cancel: "Cancel"
    cancel_edit: "Cancel edit"
    stop: "Stop"
    stop_edit: "Stop edit"
    keywords: "Keywords"
    fill: "Fill keywords"
    list: "List"
    loading: "Loading"
    my_records: "My records"
    for_inspire: "For INSPIRE"
    status: "Record status"
    contact2micka: "Contact to MicKa"

management:
    modules: "Administration"
    contacts: "Contacts management"
    identity: "Right management"
    harvest: "Harvesting"
    profiles: "Profiles management"
    summary: "Metadata records overview"
    
lang:
    cze: "Czech"
    eng: "English"

apperror:
    postIncomplete: "record POST - incomplete data"
    postUnknownAc: "rekord POST - unknown action"
    noRecordFound: "Sorry, no record found."
    noProfileFound: "Sorry, no profile found."
    cantSaveNew: "Sorry, you can't save this new record."
    
import:
    recordUpdateSkip: "Record already exists. Import stopped." 
    notRightRecordUpdate: "You do not have rights to update the record."
    incompletInputData: "Input data record is not complete."
    errorFile: "Import file is corrupt."