frontend:
    app_title: "openMicka"
    del: "Eliminar"
    thes: "Otro tesauro se define en esta sección, por favor, haga una nueva sección para el tesauro seleccionado."
    login2: "Acceder"
    logged: "Usuario registrado"
    edit: "Editar"
    save2: "Guardar"
    reset: "Limpiar"
    create: "Crear"
    section: "Sección"
    access_violation: "Violación de acceso. Probablemente la sesión ha expirado. Por favor, intente volver a iniciar sesión."
    upload_image: "Cargar imagen"
    back: "Atrás"
    insert_selected: "Insertar selección"
    error: "Error"
    error2: "ERROR LO SENTIMOS"
    help: "Ayuda"
    openmicka: "openMICKA - catálogo openMetainformation"
    read: "leer"
    edit2: "Editar"
    group: "grupo"
    other: "otro"
    record_admin: "Administración de registros"
    view_detail: "Ver detalle"
    about: "Acerca de"
    version: "Su versión"
    changes: "Cambios, noticias"
    bugs: "Errores conocidos"
    support: "Soporte del sistema"
    edited: "El registro está siendo editado por otro usuario."
    recno: "recno"
    words: "Palabras"
    bouding_box: "Extensión Geográfica"
    from_map: "Desde el mapa"
    west: "oeste"
    south: "sur"
    east: "este"
    north: "norte"
    topic_category: "Categoría del tema"
    search: "Buscar"
    search2: "Buscar"
    search3: "Buscar registros de metadatos"
    found: "Encontrado"
    standard: "estándar"
    temporal_extent: "Extensión temporal"
    from: "por"
    to: "a"
    no_found: "No encontrado"
    profile: "Perfil"
    new_record: "Nuevo registro"
    new_record2: "Nuevo registro / actualizar registro"
    public: "Público"
    public2: "Público"
    select_template: "Seleccionar plantilla"
    fit_extent: "Datos que se ajustan a la extensión"
    name: "Nombre"
    passwd: "Contraseña"
    input_coordinates: "Coordenadas de enttrada"
    select_features: "Entidades seleccionadas "
    in_keywords: "En palabras clave"
    language: "Idioma"
    phrase: "Frase exacta"
    any_word: "Cualquier palabra"
    all_words: "Todas las palabras"
    contacts: "Contactos"
    person: "Persona"
    organisation: "Organización"
    function: "Función"
    phone: "Teléfono"
    fax: "Fax"
    point: "Punto"
    city: "Ciudad"
    admin_area: "Área administrativa"
    postcode: "Código postal"
    country: "País"
    email: "E-mail"
    url: "URL"
    label: "Etiqueta"
    edit_records: "Editar registros"
    edit_group: "Grupo para edición"
    not_filled_values: "incluyendo valores no rellenados"
    metadata_structure: "Estructura de metadatos"
    view_group: "Grupo de visualización"
    file_from_import: "Seleccionar archivo para importar"
    record: "Registro"
    private: "Privado"
    semifinished: "Semifinalizado"
    saved: "guardado"
    confirm_save: "confirmar guardar"
    service_url: "Servicio de URL"
    bad_setting: "configuración errónea"
    select_fc: "Seleccione Catálogo de Entidades"
    superset: "Superset"
    subset: "Subsets"
    delete_record: "Eliminar registro"
    access_rights: "Derechos de acceso"
    existing_record: "Registro existente"
    overwrite: "Sobrescribir"
    leave_existing: "Dejar de publicar"
    record_for_update: "Seleccionar registro para actualizar"
    primary: "Primario"
    remove_subelements: "Todos los subelementos se eliminarán del perfil, CONTINÚAR"
    change_standard: "Cambiar estándar"
    batch_check_inspire_profile: "Comprobación de lotes Perfil INSPIRE"
    delete: "Borrar"
    leave: "Abandonar"
    really: "Seguro?"
    another_thesaurus: "Otro tesauro está definido en esta sección, por favor, crea una nueva sección para el tesauro seleccionado."
    validate: "Validado"
    lost: "Todas las ediciones sin guardar se perderán. Continuar"
    portal: "Portal"
    home: "Inicio"
    cookbook: "Libro de cocina"
    contact: "Contacto"
    copy: "Clonar"
    select: "seleccionar"

    admin: "Administrador"
    application: "Aplicación"
    ascending: "ascendente"
    basic_metadata: "Resumen"
    clear: "Limpiar"
    close: "Cerrar"
    data: "Fecha"
    descending: "descendente"
    extent-similarity: "similar extensión"
    fc: "Catálogo de Entidades"
    full_metadata: "Detalle"
    fulltext: "cualquier texto"
    inside: "Dentro del rectángulo"
    inspire-theme: "Tema INSPIRE"
    last_update: "Última actualización"
    login: "Acceder"
    logout: "Cerrar sesión"
    new: "Nuevo"
    service: "Servicio"
    res-type: "Tipo de recurso"
    scale: "Escala"
    sort: "Ordenar por"
    title: "título"
    save: "Guardar"
    save_edit: "Guardar y continuar con la edición"
    cancel: "Cancelar"
    cancel_edit: "Cancelar editar"
    stop: "Parar"
    stop_edit: "Parar editar"
    keywords: "Palabras clase"
    fill: "Rellene palabras clave"
    list: "Lista"
    loading: "Cargando"
    my_records: "Mis registros"
    for_inspire: "Para INSPIRE"
    status: "Estado de registros"
    contact2micka: "Contactar a MicKa"
    packages: "ENG: Packages"

management:
    modules: "Administración"
    contacts: "Administrar contactos"
    identity: "Administrar permisos"
    profiles: "Administrar perfiles"
    profileSelectMDS: "ENG: Select metadata standard"
    profileAdd: "ENG: Add profile"
    summary: "Resumen de registros de metadatos"

lang:
    cze: "Checo"
    eng: "Inglés"
    spa: "Español"

apperror:
    postIncomplete: "registro POST - datos incompletos"
    postUnknownAc: "registro POST - acción desconocida"
    noRecordFound: "Lo sentimos, el registro no fue encontrado."
    noProfileFound: "Lo sentimos, el perfil no fue encontrado."
    cantSaveNew: "Lo sentimos, no puede guardar este nuevo registro."

import:
    recordUpdateSkip: "El registro ya existe. Importación detenida."
    notRightRecordUpdate: "No tiene permisos para actualizar el registro."
    incompletInputData: "El registro de datos de entrada no está completo."
    errorFile: "El archivo de importación está dañado."
