frontend:
    app_title: "openMicka"
    del: "Smazat"
    thes: "V této sekci je definován jiný thesaurus, prosím, vytvořte novou sekci pro vybraný thesaurus."
    login2: "Přihlášení"
    logged: "Přihlášený uživatel"
    edit: "Upravit"
    save2: "Průběžné uložení"
    reset: "Původní"
    create: "Vytvořit"
    section: "Oddíl"
    access_violation: "Přístup odepřen. Pravděpodobně vypršela doba přihlášení. Zkuste se znovu přihlásit."
    upload_image: "Upload obrázku"
    back: "Zpět"
    insert_selected: "Vložit vybrané"
    error: "Došlo k chybě"
    error2: "Došlo k chybě při ukládání dat. Návrat k původním hodnotám."
    help: "Nápověda"
    openmicka: "openMICKA - openMetaInformační KAtalog"
    clear: "Vyčistit"
    admin: "Administrace"
    read: "čtení"
    edit2: "Editace"
    group: "skupina"
    other: "ostatní"
    record_admin: "Administrace záznamu"
    view_detail: "Zobrazit detail"
    version: "Používáte verzi"
    changes: "Poslení změny (Atom)"
    bugs: "Zjištěné chyby"
    support: "Systémová podpora"
    edited: "Požadovanou operaci nelze provést, záznam edituje někdo jiný!"
    sort: "Řadit podle"
    title: "název"
    recno: "recno"
    words: "Slova"
    bouding_box: "Ohraničující obdélník"
    from_map: "Z mapy"
    west: "západ"
    south: "jih"
    east: "východ"
    north: "sever"
    topic_category: "Tematická kategorie"
    search: "Vyhledávání"
    search2: "Vyhledat"
    search3: "Vyhledat metadatové záznamy"
    found: "Nalezeno"
    standard: "Standard"
    temporal_extent: "Časový rozsah"
    from: "od"
    to: "do"
    no_found: "Nenalezeno"
    profile: "Profil"
    new_record: "Nový záznam"
    new_record2: "Nový záznam / úprava záznamu"
    public: "Veřejné"
    public2: "Veřejný"
    select_template: "Zvolit šablonu"
    fit_extent: "Data pouze ve výřezu"
    name: "Jméno"
    passwd: "Heslo"
    input_coordinates: "Zadání souřadnic"
    select_features: "Vyberte prvky"
    in_keywords: "V klíčových slovech"
    language: "Jazyk"
    phrase: "Přesné znění"
    any_word: "Některé slovo"
    all_words: "Všechna slova"
    contacts: "Kontakty"
    person: "Jméno a příjmení"
    organisation: "Organizace"
    function: "Funkce"
    phone: "Telefon"
    fax: "Fax"
    point: "Ulice, č.p."
    city: "Obec"
    admin_area: "Administrativní území"
    postcode: "PSČ"
    country: "Stát"
    email: "E-mail"
    url: "URL"
    label: "Popiska"
    edit_records: "Editace záznamů"
    edit_group: "Skupina pro editaci"
    not_filled_values: "včetně nezadaných hodnot"
    metadata_structure: "Struktura metadat"
    view_group: "Skupina pro prohlížení"
    file_from_import: "Výběr souboru pro import"
    record: "Záznam"
    private: "Neveřejné"
    semifinished: "Rozpracovaný"
    saved: "uložen"
    confirm_save: "Opravdu uložit změny a zrušit záznamy některých jazyků?"
    service_url: "URL služby"
    bad_setting: "Špatné zadání"
    select_fc: "Výběr katalogu geoprvků"
    superset: "Nadřízený"
    subset: "Podřízené"
    delete_record: "Smazat záznam"
    access_rights: "Přístupová práva"
    existing_record: "Existující záznam"
    overwrite: "Přepsat"
    leave_existing: "Ponechat existující"
    record_for_update: "Výběr záznamu pro update"
    primary: "Primární"
    remove_subelements: "Z profilu se odstraní všechny podřízené položky, POKRAČOVAT"
    change_standard: "Změnit standard"
    batch_check_inspire_profile: "Dávková kontrola profilu INSPIRE"
    delete: "Smazat"
    leave: "Opustit"
    really: "Opravdu?"
    another_thesaurus: "V této sekci je definován jiný thesaurus, prosím, vytvořte novou sekci pro vybraný thesaurus."
    validate: "Validace"
    lost: "Všechny neuložené změny budou ztraceny. Pokračovat"
    basic_metadata: "Přehled"
    portal: "Portál"
    home: "Úvod"
    cookbook: "Kuchařka"
    contact: "Kontakt"
    mdcontact: "Kontakt - metadata"
    copy: "Zkopírovat"
    map: "Mapa"

    full_metadata: "Detail"
    application: "Aplikace"
    application-type: "Typ aplikace"
    data: "Data"
    data-type: "Typ dat"
    service: "Služba"
    service-type: "Typ služby"
    new: "Nový"
    res-type: "Typ zdroje"
    inspire-theme: "Téma INSPIRE"
    inspire-service: "Klasifikace služeb"
    scale: "Měřítko"
    fulltext: "v textu"
    extent-similarity: "podobnost rozsahu"
    fc: "Katalog geoprvků"
    last_update: "datum aktualizace"
    ascending: "vzestupně"
    descending: "sestupně"
    close: "Zavřít"
    login: "Přihlásit se"
    logout: "Odhlásit se"
    inside: "Pouze uvnitř"
    about: "O aplikaci"
    save: "Uložit"
    save_edit: "Uložit a pokračovat"
    cancel: "Storno"
    cancel_edit: "Opustit bez uložení"
    stop: "Ukončit"
    stop_edit: "Uložit a ukončit"
    keywords: "Klíčová slova"
    fill: "Vyplnit"
    list: "Seznam"
    loading: "Načítání"
    my_records: "Moje záznamy"
    for_inspire: "Pro INSPIRE"
    status: "Stav záznamu"
    contact2micka: "do MicKy"
    select: "vyberte"
    packages: "Balíčky"
    where-all: "Všude"
    where-title: "V názvu"
    where-tabstract: "V názvu a abstraktu"

management:
    modules: "Administrace"
    contacts: "Správa kontaktů"
    identity: "Práva"
    profiles: "Správa profilů"
    profileSelectMDS: "Výběr metadatového standardu"
    profileAdd: "Vytvoření nového profilu"
    summary: "Přehled záznamů"

lang:
    cze: "Česky"
    eng: "Anglicky"
    spa: "Español"

apperror:
    postIncomplete: "Chyba - data přenesená na server nejsou kompletní!"
    postUnknownAc: "Chyba - neznámá akce!"
    noRecordFound: "Požadovaný záznam nebyl nalezen."
    noProfileFound: "Požadovaný profil nebyl nalezen."
    cantSaveNew: "Nepodařilo se vytvořit nový záznam."

import:
    recordUpdateSkip: "Záznam již existuje. Import zastaven."
    notRightRecordUpdate: "Nemáte práva aktualizovat záznam."
    incompletInputData: "Vstupní data nejsou kompletní."
    errorFile: "Importovaný soubor je vadný."
