{block content}
<div class="container panel panel-default">
<h1>{_messages.management.modules}</h1>
    <ul>
        <li>
            <a n:href=":Admin:Contacts:default">{_messages.management.contacts}</a>
        </li>
        <li>
            <a n:href=":Admin:Identity:default">{_messages.management.identity}</a>
        </li>
        <li>
            <a n:href=":Admin:Records:default">{_messages.management.summary}</a>
        </li>
    </ul>
</div>
