/* MICKA CSS Document 
* Help Service Remote Sensing
* verze 5.0
*/
html, body { position:relative; height: 100%}
body, body.x-body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:12px;}
#micka-body { margin:0px; background: #FFF}
a {text-decoration: none; color: #1377A8;}
a:hover {text-decoration: none; color: #037;}
img {border: 0px;}
td, th {font-size:12px; text-align:left;}

img.exp {
	cursor:pointer;
}

fieldset {
	background: #F8F8F8; 
	padding:8px;
	border-radius: 3px;
	border: 1px solid #E0E0E0;
}
fieldset label {width:80px; display:inline-block}
fieldset.contacts label {width:120px;}


#logotyp{
	position:absolute;
	top: -15px;
	right: 0px;
	color: #4E4E51;
	font-size:10px;
	
}
#micka-root {
	xwidth:916px; 
	margin: 60px auto 0 auto; 
	min-height:750px; 
	xposition: absolute;
}

#headBox {
	margin:auto;
	margin-bottom: 2px;
	position: fixed;
	width: 100%;
	z-index: 98;
	padding: 6px 30px 5px 16px;
	background: #585858; /*url(img/hdr.png);*/
	border-bottom: 1px solid #D0D0D0;
	color: #CCC;
	top: 0px;
	height: 50px;
}

#leftBox{
	width: 270px;
	position: fixed;
	float: left;
	top: 50px;
	display: block;
	background: #F8F8F8;
	min-height: 100%;
	border-right: 1px solid #E0E0E0;
}

#menuBox {
	/*width: 250px;*/
	padding: 0;
	/*background: #DFEAF2;*/
	/*border-radius: 5px;*/
	border: 0px solid #E0E0E0;
	/*margin: 10px;*/
}

#naviBox {
    margin: 0px 8px 0px 270px;
    margin-right: 8px;
    background: white;
    color: gray;
    padding: 7px;
    border-bottom: 0px solid #D0D0D0;
}


#dataBox {
	margin: 10px 0 25px 270px; 
	padding: 10px;
	position: relative;
	xwidth:690px;
}

#footBox {
	margin: 80px 5px 0 5px;
	padding: 22px 0 32px 0;
	clear: both;
	border-top: 1px solid black;
	text-align: center;
	position:relative;
}

#footBox a {
	margin: 0 10px 0 10px;
}

#loginBox {
	position: absolute;
	top: 30px;
	right: 20px;
}


#loginForm {
	display:none;
	position: absolute;
	text-align: left;
	background: #F0F0F0;
	right: 0px;
	top: 20px;
	z-index: 99;
	padding: 8px;
	border: 1px solid #DDD;
	border-radius: 3px;
	box-shadow: 5px 5px 5px gray;
}

div.x-mask {
	z-index: 60;
}

#formDiv {
	margin-bottom: 0px;
	text-align:center;
}

#sortbox {
	float: right;
	position: relative;
	top: -15px;
}

#langsBox {margin: 7px 0px 0 0; position:absolute; top: 0px; right: 15px; z-index:99}
#langsBox img {margin-right:5px;}
#langsBox a:hover {text-decoration: none;}
#langsBox a.flag:hover img {opacity: 1.0}
#langsBox a.flag img {opacity: 0.5 }

#logoBox {margin-top:40px;}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
	z-index: 99;
}


/*nadpisy */
div.hlavicka {xbackground: #F0EEE1; font-weight: bold; color:#FF6600;  padding:6px; font-size:16px; vertical-align: middle; border: #B7B59E solid 0px; }
h1 {margin: 0px 5px 15px 5px; font-size: 14pt; color: #FF6600}
h2 {color: #555; text-align:left; font-weight: 
	bold; font-size:14px; padding:5px; background: #F8F8F8; 
	margin: 0px 2px 8px 2px;
	border: 1px solid #F0F0F0}
h3 {color: #408090; font-size:17px; margin: 15pt 0 0pt 3px; padding-bottom: 3px;
	border-bottom: 1px solid #A0C0E0;
}

hr {
	border:  solid #A0C0E0;
	margin: 3px 0px 3px 0px;
	border-width: 0px 0px 1px 0px;
}

.nadpis3 {background:#FF8040; #F0EEE1; font-weight: bold; color:#FFFFFF;  padding:3px; font-size:14px; vertical-align: middle; }

textarea {background: #FFF; font-family: sans-serif; font-size: 11px; width:500px; height:100px; border: solid 1px #DDD; border-radius: 3px; padding: 2px;}
input {font-size: 11px;}
input.D {background: #FFF0E0; width:70px; border: solid 1px #DDD; left:200px; border-radius: 3px; padding: 2px;}
input.N {background: #F0F0FF; width:80px; border: solid 1px #DDD; left:200px; border-radius: 3px; padding: 2px;}
input.T {background: #FFF; width:400px; border: solid 1px #DDD; left:200px; border-radius: 3px; padding: 2px;}

textarea:required:not(:valid), input:required:not(:valid), select:required:not(:valid) {
	background: #FBB !important;
	border: solid 1px #E00;
}



span.m {color: red; width:200px; display: inline-block;  }
span.c {color: #00A000; width:200px; display: inline-block; }
span.n {color: #999; width:200px; display: inline-block; }
span.o {color: #808080; width:200px; display: inline-block; }
span.f {color: #800000; width:200px; font-weight:bold; display: inline-block}
select {border: 1px solid #DDD; font-size:11px; border-radius: 3px; padding: 2px;}

div.recAdmin{
  text-align:left;
  padding-top: 12px;
  padding-bottom: 6px;
  font-weight:bold;
}

.flg {position: relative;  display: inline-block; margin-left: -19px; top:0px; xposition:absolute; xleft: 180px;}

.find {backgroundx: #F1EFE1; border:1px solid #CFCAAC}
.met {background: #F0EEE1;}

/*popisky ve vyhled. formulari*/
.md_label {font-weight:bold; font-size:12px;}
.md_dsfirm {font-weight:normal; color: black}

#md_hlavicka {
  background: white url(img/hlavicka_bg.jpg) no-repeat;  width:100%; height:100%;
}

  

/*menu
#levy {background:#F0EEE1 url(img/menu_bg.gif) no-repeat; height:100%; width:170px; padding:5px;}
*/
a.go-back {
	width: 22px;
	height: 18px;
	display: inline-block;
	background: url(img/back.png) no-repeat;
}


.md_menuitem {
	font-weight: bold;
	/*color: #B5851F;*/
	font-size: 14px;
	border-bottom: 1px solid #e0e0e0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.md_menuitem a:hover {
	background:  #FFF;
	color: #3182BD;
}

.md_menuitem div {
	padding: 5pt 0 5pt 8pt;
	color: #ff6600;
	background: #FFF;
	/*background: #589EC7; #3182BD; #1377A8; */
	/*padding: 3px;*/
}

.md_menuitem a {
	padding: 5pt 0 5pt 8pt;
	display: block;
	#padding: 3px;
}

.md_menublock {padding:5px; background: #f8f8f8; border: 0px solid #A8D0F0;}
.md_menublock h3 {font-weight: bold; color: #FF6600; margin: 0px;}
.md_menublock select {width: 100%; background:F0F0E8; border:#B0B090 1px solid; }
.md_menublock a {margin-left:10px;}
.md_menublock a:hover {text-decoration:none; }

/*strom v editaci*/
.md_inpform div.t {position: relative; margin-left:15px; padding-left:2px;
	border: 1px solid #EEE; border-bottom: 0px; border-right: 0px; background:#F8F8F8;}
.md_inpform div.t0 {margin-left:-15px; border-right: 1px solid #EEE; }
.md_inpform div.te {margin-left:0px; border-top: 1px solid #EEE; }

/* tabulka s nastavenim */
table.sprava {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
table.sprava tr td, table.sprava tr th {border: #DDD solid 1px; padding:2px; vertical-align:top}
table.sprava tr th {background: #F0F0F0;}
table.sprava tr.rowsel:hover {background: #F8F8F8;} 

/*hlavicky ve vypisu */
.md_templ {background:#FFEEEE; }
.md_privat {background: #EEEEEE; }
.odp_rec {background: #F0EEE1 url(img/rec_hdr.jpg); font-weight: bold;}
div.feature {background: #B7B59E; font-weight: bold; padding-top:3px;}

/* labely */
.rep_label {color: #900000; width:120px;}
.rep_value {color: #606060; word-wrap: break-word;}

/* hlasky */
.error {color: red}

/* xsl detail 
table.vypis { color: #505050}

table.vypis th {
  font-weight: bold; 
  color:#A05050; 
  vertical-align:top; 
  font-size:11px; 
  text-align:left;
  width:140px;
} */

a.plus {width: 11px; display: inline-block; background: url(../../lite/style/plus.png) 50% 50% no-repeat; cursor: pointer; }
a.minus {width: 11px; display: inline-block; background: url(../../lite/style/minus.png) 50% 50% no-repeat; cursor: pointer; }
a.open {color: white; width: 20px; display: inline-block; background: url(../../lite/style/open.gif) 50% 50% no-repeat; cursor: pointer; }
a.plus:hover, a.minus:hover, a.open:hover {text-decoration: none}  

/* novy vypis vet */
div.rec {
	margin-bottom: 0px;
	border-top: #DDD solid 1px;
	color: #4E4E51;
	padding: 7px;
	margin-right: 0px;
}

div.rec:hover {
	border-color: #4E98BD;
	color: black;
	background: #EDF5F8;
}

div.rec div {
	padding: 2px;
}

div.rec .title {
	xbackground: #F0F0F0;
	xborder-bottom: #B7B59E solid 1px;
	xborder-radius: 6px 6px 0px 0px;
}

a.t {
	padding-left: 22px;
	min-height: 16px;
	display:inline-block;
}

div.rec div.title a.t {
	font-weight: bold;
	font-size:13px;
	min-height: 16px;
	xcolor: #1276A7;
}

div.rec .abstract{
	margin-top: 8px;
	text-align:justify;
}

div.rec .abstract-pub {
	margin-top: 8px;
	text-align:justify;
	color: black;
}

.service {
	background: url("img/service.png") no-repeat scroll transparent 0 center;
}

.dataset {
	background: url("img/dataset.png") no-repeat scroll transparent 0 center;
}

.series {
	background: url("img/series.gif") no-repeat scroll transparent 0 center;
}

.application {
	background: url("img/application.png") no-repeat scroll transparent 0 center;
}

.nonGeographicDataset {
	background: url("img/ngdataset.png") no-repeat scroll transparent 0 center;
}

.tile {
	background: url("img/shape_square.png") no-repeat scroll transparent 0 center;
}

.dc {
	background: url("img/dc.gif") no-repeat scroll transparent 0 center;
}

.fc {
	background: url("img/fc.png") no-repeat scroll transparent 0 center;
}

.for-inspire {
    background: url("img/inspire_16.png") no-repeat scroll left center transparent;
    width: 16px; height:16px;
    margin-left: 5px;
    display: inline-block;
}

.rec div.public {
	xbackground: url("img/rec_hdr.jpg") repeat scroll #F0EEE1;
}

div.icons {
	float: right;
	font-size: 18px;
	padding: 0px !important;	
}
 

span.icons {
	font-size: 18px;
}

.icons a {
	color: #AAA;
}

.icons a:hover {
	color: #1377A8;
}

div.detail {	
	float:right;
}


.icons .xxml {
	xwidth: 16px; xheight: 16px; display:inline-block;
	xbackground: url("img/xml.png") no-repeat scroll 0 0 transparent;
}

.xrdf {
	xwidth: 18px; height: 16px; display:inline-block;
	xbackground: url("img/rdf.gif") no-repeat scroll 0 0 transparent;
}

.xmap {
	xwidth: 18px; height: 16px; display:inline-block;
	xbackground: url("img/map.png") no-repeat scroll 0 0 transparent;
}

.xedit {
	/*width: 18px; height: 16px; display:inline-block;
	background: url("img/page_edit.png") no-repeat scroll 0 0 transparent;*/
}

.xcopy {
	/*width: 18px; height: 16px; display:inline-block;
	background: url("img/page_copy.png") no-repeat scroll 0 0 transparent;*/
}

.xdelete {
	/*width: 18px; height: 16px; display:inline-block;
	background: url("img/trash.png") no-repeat scroll 0 0 transparent;*/
}

a.valid0, .icons a.valid, .id-fail {
	color: red;
	/*width: 18px; height: 16px; display:inline-block;
	background: url("img/fail.png") no-repeat scroll 0 0 transparent;*/
}

a.valid1 {
	color: orange;
	/*width: 18px; height: 16px; display:inline-block;
	background: url("img/warning.png") no-repeat scroll 0 0 transparent;*/
}

a.valid2, .id-ok {
	color: green;
	/*width: 18px; height: 16px; display:inline-block;
	background: url("img/pass.png") no-repeat scroll 0 0 transparent;*/
}

 .full {
	xwidth: 18px; height: 16px; display:inline-block;
	xbackground: url("img/book.png") no-repeat scroll 0 0 transparent;
}

 .basic {
	width: 18px; height: 16px; display:inline-block;
	background: url("img/bookb.png") no-repeat scroll 0 0 transparent;
}

 .callback {
	width: 18px; height: 16px; display:inline-block;
	background: url("img/tick.png") no-repeat scroll 0 0 transparent;
}

.rec .bbar {
	font-style: italic;
	font-size: 10px;
	text-align: right;
	color: #909090;
}

div.paginator {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #404040;
	margin: 0px;
	position: fixed;
	bottom: 0px;
	background: white;
	border-top: 1px #1377a8 solid;
	padding: 3px;
	width: calc(100% - 290px);
}

.paginator a {
	color: #BBB;
	text-decoration: none;
	display: inline-block;
	padding: 2px;

}

.paginator a:hover {
	color: #3182BD; 
}

.paginator a.next {background-image: url("img/page-next.gif"); }
.paginator a.prev {background-image: url("img/page-prev.gif"); }
.paginator a.first {background-image: url("img/page-first.gif"); }
.paginator a.last {background-image: url("img/page-last.gif"); }


/* jeden zaznam pro pdf*/
div.row {xclear: both; margin-bottom: 2px; font-size:12px;  }
div.l {display: inline-block; width: 3.5cm; font-weight:bold; clear:left; margin-bottom: 0.1cm; padding: 3px;}
div.r {display: inline-block; margin-left: 0.2cm; margin-bottom: 0.1cm; width:14cm; color: #4E4E51; padding: 3px;}
.l2 {float:left; width: 3cm; font-weight:bold; }
.r2 {float:left; width: 11cm; }
.l3 {float:left; width: 3cm; margin-left: 1cm; font-weight:bold;}
.r3 {float:left; width: 9.9cm; }
.l4 {float:left; width: 3cm; margin-left: 2cm; font-weight:bold;}
.r4 {float:left; width: 8.9cm; }
.l5 {float:left; width: 3cm; margin-left: 3cm; font-weight:bold;}
.r5 {float:left; width: 7.9cm; }
img.bbox {border: #FF0000 2px solid; height:5cm;}
row .title {font-size: 15px; font-weight: bold;}

table.feature {
	border-collapse:collapse;
}

table.feature td, table.feature th {
 	border: 1px solid #4E4E51;
  	text-align: left;
  	padding: 3px;
}

table.report {
	border-collapse:collapse;
	width: 100%;
	border: 0px 0px 0px 2px;
}

table.report td {
	height: 100%;
	/*border: 2px solid white;*/
}

table.report-right {
	/*background: #FFF; #E8F5FB;*/
	border-collapse: collapse;
	border: hidden;
	width: 100%;
	table-layout:fixed;
}

table.report-full {margin-bottom:4px;}

table.report-right tr {
 	border-top: 1px solid #ddd; #A0C0E0;	
}

table.report-right th, table.report-right td{
	text-align: left;
 	padding: 3px;
 	font-size: 13px;
 	vertical-align: top;
}

table.report-right th {
	width: 160px;	
	font-weight: bold;
}

table.report-right td {
	dwidth: 380px; 
	color: #4E4E51;
	word-wrap: break-word;
}

.subtitle {
	width: 120px;
	min-width: 120px;
	background: #E8F5FB;
	vertical-align: top;
	padding: 5px;
	color: #1276A7;
	font-size: 13px;
	font-weight: bold;
	
}

table.report-right td.subtitle-full {
	background: #fff;
	padding: 5px 0px 0px 10px;
	color: #1276A7;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 2px solid #4E98BD;	
}


table.report-right tr td.subtitle {
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

table.report-right tr:hover {
	background: #EDF5F8; /*#DAF0F8;*/
	border-color: #4e98bd;
}

table.report-right tr:hover td{
	color: #000;
}


div.hlevel{
	color:#4E4E51;
	margin: -25px 0px 20px 20px;
}

.welcome {
	margin: 15px 0px 20px 0px;  
	text-align:justify;
	width: 686px;
}

/* ext elementy */

.ux-pointer {cursor:pointer;}


#searchForm {
	margin: 0 auto 0 auto;
	background: #F8F8F8;	
}

#searchForm-body {
	background: #F8F8F8;	
}

.user-label {
	xcolor: #626368; 
}

.public0, .public-1 {
	color:black; 
	margin-right: 10px;
}

.public1, .public2 {
	color:black;
	font-weight: bold;
	margin-right: 10px;
}

a.fullBottom {
	height: 16px; display:inline-block; padding-left: 20px; margin-top: 10px;
	background: url("img/book.png") no-repeat scroll 0 0 transparent;
}

#headBox h1 {
	margin: 2px 0px 0px 0px;
	font-size: 12pt;
	background: url(img/logo.png) no-repeat;
	padding: 8px 0px 0px 40px;
	height: 32px;
}

#headBox a h1{
	color: #CCC;
	color: white;
	opacity: 0.75;
}

#headBox a:hover h1 {
	opacity: 1;
}

#loginBox a {
	color: white;
} 

#loginBox a:hover {
	color: #FA0;
} 

.form-block {
	background: #F8F8F8;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #E0E0E0;
}

div.md-validrow {border:1px solid transparent; cursor:pointer; border-top: 1px solid #E0E0E0} 
div.md-validrow:hover {background:#E8E8E8; }

#valid {
	position:fixed;  
	top: 50px; right: 3px; 
	background: #FFFFF0;
	border-radius: 3px;
	padding: 3px;
	border: 1px solid #E0E0E0;
}

.valid-id {
	width: 35px;
	display: inline-block;
	float: left;
}

.valid-txt {
	width: 170px;
	display: inline-block;
}

.valid-block {
	width: 240px;
	max-height: 600px;
	overflow: auto;
}

div.md-validrow span.c, div.md-validrow span.m {display: inline}	

#mapBox {
	margin: 10px;
	xbackground: #F0F0F0;
}

#overmap {
	width: 250px;
	height: 200px;
	border:solid 1px #ddd
}

@media (max-width: 800px){
    #leftBox {
        display: none;
    }
	#dataBox {
		margin-left: 0;
		padding: 0px;
	}
	div.paginator {
		width: 100%;
	}
}

.md-dialog {
	position: fixed;
	z-order: 999;
	top: 200px;
	left: 50%;
	border: 1px solid #EEE;
	border-radius: 3px;
	background: #FFF; #F8F8F8;
	width: 400px;
	padding: 20px;
	margin-left: -200px;
	box-shadow: 10px 10px 5px #888888;
}

.close-dialog {
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	background: url(img/storno.png) no-repeat;
}

/* harvesting */
.harvested {
	background: #E0FFC0;
}

.medium {
	font-size: 20px !important;
}

@media print {
	.noprint {display: none}
}
