{var $robots = noindex}

{block content}
	<div class="container panel panel-default">
		<h1 n:block="title">{_messages.frontend.login2}</h1>
		{control signInForm}
	</div>
{/block}

{block content-js}
{/block}