/* edit form styles */

#valid {
	position:fixed;  
	top: 55px; right: 3px; 
	background: #FFFFF0;
	border-radius: 3px;
	padding: 3px;
	border: 1px solid #E0E0E0;
}

.valid-id {
	width: 35px;
	display: inline-block;
	float: left;
}

.valid-txt {
	width: 170px;
	display: inline-block;
}

.valid-block {
	width: 240px;
	max-height: 600px;
	overflow: auto;
}

div.md-validrow {border:1px solid transparent; cursor:pointer; border-top: 1px solid #E0E0E0} 
div.md-validrow:hover {background:#E8E8E8; }

div.md-validrow span.c, div.md-validrow span.m {display: inline}	


.md_inpform div.t {position: relative; margin-left:15px; padding-left:2px;
	border: 1px solid #EEE; border-bottom: 0px; border-right: 0px; background:#F8F8F8;}
.md_inpform div.t0 {margin-left:-15px; border-right: 1px solid #EEE; }
.md_inpform div.te {margin-left:0px; border-top: 1px solid #EEE; }


i.exp {
	cursor: pointer;
    width: 10px;
    display: inline-block;
}

.flg {position: relative;  display: inline-block; margin-left: -19px; top:0px; xposition:absolute; xleft: 180px;}

textarea {background: #FFF; font-family: sans-serif; font-size: 11px; width:500px; height:100px; border: solid 1px #DDD; border-radius: 3px; padding: 2px;}
input {font-size: 11px;}
input.D {background: #FFF0E0; width:90px; border: solid 1px #DDD; left:200px; border-radius: 3px; padding: 2px;}
input.N {background: #F0F0FF; width:80px; border: solid 1px #DDD; left:200px; border-radius: 3px; padding: 2px;}
input.T {background: #FFF; width:400px; border: solid 1px #DDD; left:200px; border-radius: 3px; padding: 2px;}

textarea:required:not(:valid), input:required:not(:valid), select:required:not(:valid) {
	background: #FBB !important;
	border: solid 1px #E00;
}

.plus {color: green; cursor: pointer}
.minus {color:red; cursor: pointer}
a.open {color: #E80  }
.plus:hover, .minus:hover, a.open:hover {text-decoration: none; color:#07D;}  

span.m {color: red; width:200px; display: inline-block;  }
span.c {color: #00A000; width:200px; display: inline-block; }
span.n {color: #999; width:200px; display: inline-block; }
span.o {color: #808080; width:200px; display: inline-block; }
span.f {color: #800000; width:200px; font-weight:bold; display: inline-block}
select {border: 1px solid #DDD; font-size:11px; border-radius: 3px; padding: 2px;}


/* temporary */
.md-dialog {
	position: fixed;
	z-order: 999;
	top: 200px;
	left: 50%;
	border: 1px solid #EEE;
	border-radius: 3px;
	background: #FFF; #F8F8F8;
	width: 400px;
	padding: 20px;
	margin-left: -200px;
	box-shadow: 10px 10px 5px #888888;
}

.close-dialog {
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	background: url(img/storno.png) no-repeat;
}

label {
    width: 300px;
}

xspan.locale {
    display: inline-block;
    width: 600px;
}

.sel2 {
    width:100%;
}

.sel2-level1 {
    display: inline-block;
    padding-left: 12px;
}

.cze {background-image: url(img/flags/cze.png); }
.eng {background-image: url(img/flags/eng.png); }
.fra {background-image: url(img/flags/fra.png); }
.ger {background-image: url(img/flags/ger.png); }
.hun {background-image: url(img/flags/hun.png); }
.ita {background-image: url(img/flags/ita.png); }
.nor {background-image: url(img/flags/nor.png); }
.pol {background-image: url(img/flags/pol.png); }
.rum {background-image: url(img/flags/rum.png); }
.slo {background-image: url(img/flags/slo.png); }
.srp {background-image: url(img/flags/srp.png); }
.swe {background-image: url(img/flags/swe.png); }


input.txt, textarea.txt {
    padding-left: 23px;
    background-position: 4px 8px; 
    background-repeat: no-repeat ;
}

label.inp3 {
    padding-left: 50pt;
    font-weight: normal;
    font-style: italic;
}

label.inp2 {
    padding-left: 30pt;
    font-weight: normal;
}
.tooltip-inner {
    max-width: 500px;
    text-align: left;
}

.short {
    width:180px;
}

.tiny {
    width: 90px;
    display: inline-block !important;
    margin-right: 3px;
}

.hsf {
    height: 28px;
    margin: 2px 0 2px 0;
    padding: 3px 6px 3px 6px;
}

.select2-container {
    margin: 2px 0 2px 0;
}

label.mand {
    color: #A00 !important;
}

label.cond {
    color: #060;
}

.select2-results__group {
    color: gray !important;
    /*border: solid #EEE;*/
    /*border-width: 1px 0 1px 0;*/
    /*background: #FFE;*/
}
