/* search form style */

html {
	  position: relative;
		min-height: 100%;
}

body{
	background: #F8F8F8;
}

body {
	margin-bottom: 70px;
	height: 100%;
}

a {cursor: pointer}

.navbar {
    border-radius: 0px !important;
}

.navbar-brand {
	background: url(img/logo.png) no-repeat 10px 10px;
	padding-left: 50px;
}

h1 {font-size: 18pt;}

.row {
	xbackground: #DDD;
	height: 100%;
}

.page-container {
	xpadding-top: 65px; 
	height: 100%;
}

.paginator {
	text-align:center;
	padding-top: 10px;
	border-top: 1px solid #EEE;
	font-size: 12pt;
}

 .bbox-control {
    top: 65px;
    left: .5em;
}

.ol-touch .bbox-control {
	top: 80px;
}

 .erase-control {
    top: 90px;
    left: .5em;
}

.ol-touch .erase-control {
	top: 120px;
}

.poly-control {
    top: 120px;
    left: .5em;
}

h2.panel-title {
	font-size: 15pt;
}

a.head {
	color: #888;
	padding-left: 5px;
}

a.head:hover {
	color: #1377A8;
	text-decoration: none;
}

#sidebar {
	padding:0px;  
	height: 100%;
}

#sidebar .micka-form {
    background: #EEE;
}

#results {
	padding: 10px;
	background: white;
	border-left: 1px solid #CCC;
	min-height: 650px;
}

.Xform-control, .Xselect2-selection {
	border-radius: 0px !important;
	border-left: 0px !important;
	border-right:0px !important;
}	  

.form-group {
	margin-bottom: 5px;
}

button.navbar-toggle: {float: left; }
.xhs-level1 {font-weight: bold}
.hs-level2 {padding-left: 15px; color:#777}
.select2-selection__choice {background: #E0F0FF !important;}
.select2-container--bootstrap {width: 100% !important;}

.bg-gray {
  background-color: #F8F8F8;
}

#overmap {
	height: 220px; 
	padding: 0px;
}

div.rec {
	margin-bottom: 0px;
	border-top: #DDD solid 1px;
	color: #4E4E51;
	padding: 7px;
	margin-right: 0px;
}

a.t {
	xpadding-left: 22px;
	min-height: 16px;
	display:inline-block;
}

div.rec:hover {
	border-color: #4E98BD;
	color: black;
	background: #FFD;
}

/* for programatically highlight map selected features */
div.recMap {
	border-color: #4E98BD;
	color: black;
	background: #EDF5F8;
}

div.rec div {
	padding: 2px;
}

 .rec .bbar {
	font-style: italic;
	font-size: 10px;
	text-align: right;
	color: #909090;
}

div.icons {
	float: right;
	font-size: 18px;
	padding: 0px !important;	
}

span.icons {
	font-size: 18px;
}

.icons a {
	color: #AAA;
}

.icons a:hover {
	color: #1377A8;
}

div.rec div.title a.t {
	font-weight: bold;
	font-size:13px;
	min-height: 16px;
	xcolor: #1276A7;
}

div.rec .abstract{
	margin-top: 8px;
	text-align:justify;
}

div.rec .abstract-pub {
	margin-top: 8px;
	text-align:justify;
	color: black;
}

.service {
	color: #C08;
}

.dataset, .series, .nonGeographicDataset, .tile {
	color: #090;
}

.application {
	color: blue;
}

.dc {
	color: orange;
}

.fc {
	color: #F50;
}

.res-type { display: inline-block; margin-right:7px}

.for-inspire {
    background: url("img/inspire_16.png") no-repeat scroll left center transparent;
    width: 16px; height:16px;
    margin-left: 5px;
    display: inline-block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  padding-top: 10px;
  background-color: #555;
}

.footer a {
	color: #FA0;
}
div.micka-row {
  	display: flex; 
	flex-flow: row wrap;
	border-bottom: 1px solid #EEE;
}
div.micka-row label {
	font-weight: bold;
	xcolor: #408090;
	width: 6cm;
	font-size: 11pt;
	padding: 3px;
}
div.c {
	min-width: 6cm;
	/*max-width: 14.5cm;*/
	font-size: 11pt;
	padding: 3px;
	color: #555; 
}


@media (max-width: 600px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faffc3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faffc3;
    background-color: #336e91;
  }
  
  .no-mobile {display:none}
  #overmap {height: 150pt;}
  #results {padding: 5px;}  
}
 
a.valid0 {
    color: red;
}

a.valid1 {
    color: orange;
}

a.valid2 {
    color: green;
}

.micka-req {
    background-color: #FBB !important;
    border-color: #E00 !important; 
}
